
@{
    //取得當前購物內容
    var CurrentCart = ShoppingWeb.Models.Operation.GetCurrentCart();
}

<a id="CartDropDown" class="dropdown-toggle" data-toggle="dropdown">
    @String.Format("共{0}元 ({1})", CurrentCart.TotoalAmount, CurrentCart.Count)
    <span class="caret"></span>
</a>

<ul class="dropdown-menu" role="menu" aria-labelledby="CartDropDown">


    @if (CurrentCart.Count > 0)
    {

        foreach (var cartitem in CurrentCart)
        {
            /*<li><a>可愛ａ鉛筆<span>100元 x 1</span></a></li>
                <li><a>可愛ａ橡皮擦<span>200元 x 1</span></a></li>
                <li><a>可愛ａ屎<span>50元 x 2</span></a></li>*/

            <li class="col-xs-12">
            <span class="col-xs-10">@cartitem.Name @cartitem.Price 元 X @cartitem.Quantity</span>
                 <span class="btn btn-danger col-xs-2" onclick="RemoveFromCart('@cartitem.Id')">
                X
                 </span>
            </li>
        //<li><a>@cartitem.Name<span>@cartitem.Price X @cartitem.Quantity</span></a></li>
        
        }
        
    <li class="divider"></li>
    <li><a class="btn btn-default text-center" href="#">結帳囉</a></li>
    }
    else
    {
        <li><a class="btn btn-default text-center" href="#">購物車內無商品</a></li>
    }
   

     
</ul>