@using PagedList
@using PagedList.Mvc
@model IPagedList<ShoppingWeb.Models.Product>

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div id="wrapper">
        @*@{Html.RenderAction("_CategoryMenu", "Category");}*@
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @foreach (var Product in this.Model)
                {


                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 rwrapper">
                        <div class="rlisting">
                            <div class="col-md-12 nopad">
                                <a href="@Url.Action("Detail","Home", new { id = Product.Id })"><img class="ProductImg" src="@Product.DefaultImageURL" alt="商品圖片" width="250" height="250" /></a>
                            </div>
                            <div class="col-md-12 nopad">
                                <h3>&nbsp;&nbsp;@Product.Name</h3>
                                <p>描述：@Product.Description</p>
                                <p>售價：@Product.Price</p>
                                <p>庫存：@Product.Quantity</p>
                                <p>
                                    <a onclick="AddToCart('@Product.Id')" href="javascript:void{0};" class="btn btn-success" role="button">加入購物車</a>
                                    <a href="@Url.Action("Detail","Home", new { id = Product.Id })" class="btn btn-default" role="button">詳細資訊</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                }
            </div>
            @Html.PagedListPager((IPagedList)this.Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
    <div>
       @Html.ActionLink("回首頁", "Index","Home", null, new { @class = "btn btn-default" })
    </div>


</div>
