@*指定model的資料型態為TempProducts的List*@
@model List<ShoppingWeb.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>商品列表</h2>

@Html.ActionLink("新增", "Create", "Index", new { @class = "btn btn-default" })
    @if (ViewBag.ResultMessage != null)
    {
        @Html.Label("info", (string)ViewBag.ResultMessage, new { @class = "text-info" })
    }
    
    
  
    

<table class="table">
    <thead>
        
        <tr>
            <td>
                操作
            </td>


            <td>
                商品圖
            </td>
               
            <td>
                編號
            </td>
            <td>
                名稱
            </td>
            <td>
                描述
            </td>
            <td>
                售價
            </td>
            <td>
                庫存
            </td>
        </tr>
    </thead>
    <tbody>
    @foreach (var pd in this.Model) /*使用foreach把所有商品列成表格元素*/
        {
   
            //抓取model內TempProducts的成員:ID、Name、Price
            <tr>
                <td>

                    @Html.ActionLink("編輯", "Edit", new { Id = pd.Id },new { @class = "btn btn-default"})

                    @using (@Html.BeginForm("Delete", "Product", FormMethod.Post, new { onsubmit = "return runScript();" }))
                    {


                        @Html.Hidden("Id", pd.Id)
                        <input type="submit" value="刪除" class="btn btn-default" />

                    }


                </td>
                <td><img src="@pd.DefaultImageURL" width = "50" height = "50" /></td>
                <td>@pd.Id</td>
                <td>@pd.Name</td>
                <td>@pd.Description</td>
                <td>@pd.Price</td>
                <td>@pd.Quantity</td>
            </tr>
        
        
        }
        

        
    </tbody>
   





</table>

@section scripts
{
    <script>
        function runScript() {
            if (confirm("你確定要刪除嗎？")) {
                return true;
            }
            else {
                return false;
            }

        }
    </script>
}