@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@model IPagedList<ShoppingWeb.Models.Product>
@{
    ViewBag.Title = "購物首頁";
    var UserId = User.Identity.GetUserId();
    var UserName = User.Identity.Name;
}
<style>
    .ProductImg {
        height: 300px;
    }
</style>


<body>

    <div id="wrapper">
        <!-- Sidebar -->
                @*@{Html.RenderAction("_CategoryMenu", "Category");}*@

            <div id="page-content-wrapper">
                <div class="container-fluid">

                    <div id="banner">
                        <img src="https://templated.co/items/demos/waterdrop/images/header-image-bg.jpg" class="img-responsive" alt="">
                        <br />
                        <div class="jumbotron">
                            <h2>生活用品店 - 什麼都要買，什麼都用不到</h2>                         
                            <div>

                                @using (Html.BeginForm("Index", "Home"))
                                {

                                    <form class="navbar-form navbar-left">
                                    <div class="form-group">
                                        @Html.TextBox("q", null, new { @class = "form-control", placeholder = "Search" })
                                    </div>                                  
                                    <input type="submit" value="搜尋" class="btn btn-default" />
                                        </form>
                                }

                              
                            </div>

                            @if (ViewBag.ResultMessage != null)
                            {
                                <h2>
                                    您搜尋的結果"@ViewBag.ResultMessage"共有"@Model.Count"個相似的結果
                                </h2>
                               
                            }

                        </div>
                    </div>

                        @foreach (var Product in Model)
                        {
                            <!--<div class="col-xs-12 col-sm-6 col-md-3 wrapper">-->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 rwrapper">
                                <div class="rlisting">
                                    <div class="col-lg-12 nopad">
                                        <a href="@Url.Action("Detail", new { id = Product.Id })"><img class="ProductImg" src="@Product.DefaultImageURL" alt="商品圖片" width="250" height="250" /></a>
                                    </div>
                                    <div class="col-lg-12 nopad">

                                        <h3>&nbsp;&nbsp;@Html.DisplayFor(model =>Product.Name)</h3>
                                        <p>描述：@Html.DisplayFor(model => Product.Description)</p>
                                        <p>售價：@Html.DisplayFor(model =>Product.Price)</p>
                                        <p>庫存：@Html.DisplayFor(model => Product.Quantity)</p>
                                        <p>

                                            <a onclick="AddToCart('@Product.Id')" href="javascript: void(0)" class="btn btn-success" role="button">加入購物車</a>
                                            <a href="@Url.Action("Detail", new { id = Product.Id })" class="btn btn-default" role="button">詳細資訊</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                @Html.PagedListPager((IPagedList)this.Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>

    @*<!--
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->



    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    *@


</body>









